header {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    align-items: center;
    background-color: var(--deep-bg);
    border-bottom: var(--border-line);
    box-shadow: 0 0.5px rgba(0, 0, 0, 0.10);
    padding: 1rem 120px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; 
    gap: 10px;
}

.header-container {
    margin-right: auto;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon {
    width: 2rem;
    border-radius: 10px;
}

.header-icon-text {
    font-weight: 600;
    font-size: var(--h5-size);
    color: var(--default-text);
}

