.more-about-me-intro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 100%;
}

.self-image {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.images {
    border-radius:var(--borderRadius-large);
    border: var(--border-line);
    box-shadow: var(--secondary-shadow);
    width:75%;
}